In [1]:
import scrape_attendance as sa
import pandas as pd

In [2]:
#att = sa.get_attendance_all_levels(2022)
#att.sample(10)

In [3]:
sa.generate_team_map()

2022-07-06 14:56:59,362 generate_team_map season=2022 reporting 628 teams

,name,league.name,league.id,sport.id,abbreviation,sortOrder
id,,,,,,
100,Georgia Tech Yellow Jackets,College Baseball,107.0,22,College,5101
101,Florida State Seminoles,College Baseball,107.0,22,College,5101
102,Round Rock Express,Pacific Coast League,112.0,11,AAA,101
103,Lake Elsinore Storm,California League,110.0,14,A,401
105,Sacramento River Cats,Pacific Coast League,112.0,11,AAA,101
...,...,...,...,...,...,...
6040,Kansas Jayhawks,College Baseball,107.0,22,College,5101
6041,Wake Forest Demon Deacons,College Baseball,107.0,22,College,5101
6042,Clemson Tigers,College Baseball,107.0,22,College,5101
6043,Duke Blue Devils,College Baseball,107.0,22,College,5101
6045,Curacao,Caribbean Series,162.0,17,WIN,1301

In [4]:
sa.generate_team_map(2019)

2022-07-06 14:57:00,041 generate_team_map season=2019 reporting 589 teams

,name,league.name,league.id,sport.id,abbreviation,sortOrder
id,,,,,,
100,Georgia Tech Yellow Jackets,College Baseball,107.0,22,College,5101
101,Florida State Seminoles,College Baseball,107.0,22,College,5101
102,Round Rock Express,Pacific Coast League,112.0,11,AAA,101
103,Lake Elsinore Storm,California League,110.0,13,A(Adv),301
104,Jackson Generals,Southern League,111.0,12,AA,201
...,...,...,...,...,...,...
5483,Sultanes de Monterrey,Liga Mexicana del Pacifico,132.0,17,WIN,1301
5484,Mayos de Navojoa,Arizona Fall League,119.0,17,WIN,1301
5492,Colombia,Caribbean Series,162.0,17,WIN,1301
5535,Tren del Norte,NaN,NaN,17,WIN,1301
6034,Notre Dame Fighting Irish,College Baseball,107.0,22,College,5101