In [1]:
import scrape_attendance as sa
import pandas as pd

In [2]:
#att = sa.get_attendance_all_levels(2022)
#att.sample(10)

In [3]:
sa.generate_team_map()

2022-09-07 08:50:34,876 generate_team_map season=2022 reporting 685 teams

,name,league.name,league.id,sport.id,abbreviation,sortOrder
id,,,,,,
100,Georgia Tech Yellow Jackets,College Baseball,107.0,22,College,5101
101,Florida State Seminoles,College Baseball,107.0,22,College,5101
102,Round Rock Express,Pacific Coast League,112.0,11,AAA,101
103,Lake Elsinore Storm,California League,110.0,14,A,401
105,Sacramento River Cats,Pacific Coast League,112.0,11,AAA,101
...,...,...,...,...,...,...
6041,Wake Forest Demon Deacons,College Baseball,107.0,22,College,5101
6042,Clemson Tigers,College Baseball,107.0,22,College,5101
6043,Duke Blue Devils,College Baseball,107.0,22,College,5101
6045,Curacao,Caribbean Series,162.0,17,WIN,1301
6046,International Team (18U),NaN,NaN,509,18U,3503

In [4]:
sa.generate_team_map(2019)

2022-09-07 08:50:35,398 generate_team_map season=2019 reporting 592 teams

,name,league.name,league.id,sport.id,abbreviation,sortOrder
id,,,,,,
100,Georgia Tech Yellow Jackets,College Baseball,107.0,22,College,5101
101,Florida State Seminoles,College Baseball,107.0,22,College,5101
102,Round Rock Express,Pacific Coast League,112.0,11,AAA,101
103,Lake Elsinore Storm,California League,110.0,13,A(Adv),301
104,Jackson Generals,Southern League,111.0,12,AA,201
...,...,...,...,...,...,...
5483,Sultanes de Monterrey,Liga Mexicana del Pacifico,132.0,17,WIN,1301
5484,Mayos de Navojoa,Arizona Fall League,119.0,17,WIN,1301
5492,Colombia,Caribbean Series,162.0,17,WIN,1301
5535,Tren del Norte,NaN,NaN,17,WIN,1301
6034,Notre Dame Fighting Irish,College Baseball,107.0,22,College,5101

In [5]:
att = sa.get_attendance_sport_id(11)
att

2022-09-07 08:50:36,050 get_attendance_sport_id sport_id=11 season=2022;  returning 1952 games

,link,gameType,season,gameDate,officialDate,isTie,gameNumber,publicFacing,doubleHeader,gamedayType,...,rescheduleDate,rescheduleGameDate,status.reason,rescheduledFrom,rescheduledFromDate,description,resumeDate,resumeGameDate,resumedFrom,resumedFromDate
gamePk,,,,,,,,,,,,,,,,,,,,,
666415,/api/v1.1/game/666415/feed/live,R,2022,2022-04-05T17:05:00Z,2022-04-05,False,1,True,N,Y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
664476,/api/v1.1/game/664476/feed/live,R,2022,2022-04-05T20:05:00Z,2022-04-05,False,1,True,N,Y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
664589,/api/v1.1/game/664589/feed/live,R,2022,2022-04-05T22:35:00Z,2022-04-05,False,1,True,N,Y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
665458,/api/v1.1/game/665458/feed/live,R,2022,2022-04-05T22:35:00Z,2022-04-05,False,1,True,N,Y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
665576,/api/v1.1/game/665576/feed/live,R,2022,2022-04-05T22:35:00Z,2022-04-05,False,1,True,N,Y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
665524,/api/v1.1/game/665524/feed/live,R,2022,2022-09-06T23:45:00Z,2022-09-06,False,1,True,N,Y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
665272,/api/v1.1/game/665272/feed/live,R,2022,2022-09-07T00:05:00Z,2022-09-06,False,1,True,N,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
664850,/api/v1.1/game/664850/feed/live,R,2022,2022-09-07T00:35:00Z,2022-09-06,False,1,True,N,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
666384,/api/v1.1/game/666384/feed/live,R,2022,2022-09-07T00:35:00Z,2022-09-06,False,1,True,N,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
664989,/api/v1.1/game/664989/feed/live,R,2022,2022-09-07T01:35:00Z,2022-09-06,False,1,True,N,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
att.columns

Index(['link', 'gameType', 'season', 'gameDate', 'officialDate', 'isTie',
       'gameNumber', 'publicFacing', 'doubleHeader', 'gamedayType',
       'tiebreaker', 'calendarEventID', 'seasonDisplay', 'dayNight',
       'scheduledInnings', 'reverseHomeAwayStatus', 'inningBreakLength',
       'gamesInSeries', 'seriesGameNumber', 'seriesDescription',
       'recordSource', 'ifNecessary', 'ifNecessaryDescription',
       'status.abstractGameState', 'status.codedGameState',
       'status.detailedState', 'status.statusCode', 'status.startTimeTBD',
       'status.abstractGameCode', 'teams.away.leagueRecord.wins',
       'teams.away.leagueRecord.losses', 'teams.away.leagueRecord.pct',
       'teams.away.score', 'teams.away.team.id', 'teams.away.team.name',
       'teams.away.team.link', 'teams.away.isWinner', 'teams.away.splitSquad',
       'teams.away.seriesNumber', 'teams.home.leagueRecord.wins',
       'teams.home.leagueRecord.losses', 'teams.home.leagueRecord.pct',
       'teams.home.score', 'teams.home.team.id', 'teams.home.team.name',
       'teams.home.team.link', 'teams.home.isWinner', 'teams.home.splitSquad',
       'teams.home.seriesNumber', 'venue.id', 'venue.name', 'venue.link',
       'content.link', 'gameInfo.attendance', 'gameInfo.firstPitch',
       'gameInfo.gameDurationMinutes', 'gameInfo.delayDurationMinutes',
       'rescheduleDate', 'rescheduleGameDate', 'status.reason',
       'rescheduledFrom', 'rescheduledFromDate', 'description', 'resumeDate',
       'resumeGameDate', 'resumedFrom', 'resumedFromDate'],
      dtype='object')

In [7]:
gbg = sa.generate_gbg_report(att)
gbg

2022-09-07 08:50:36,120 generate_gbg_report returning report 1952 games

,officialDate,teams.home.team.name,abbreviation,league.name,gameInfo.attendance,dayNight,dayOfWeek,teams.away.team.name,gameInfo.gameDurationMinutes
gamePk,,,,,,,,,
665272,2022-09-06,Oklahoma City Dodgers,AAA,Pacific Coast League,3877,night,Tuesday,Tacoma Rainiers,157.0
665014,2022-09-06,Round Rock Express,AAA,Pacific Coast League,3098,night,Tuesday,Sugar Land Space Cowboys,143.0
664989,2022-09-06,Sacramento River Cats,AAA,Pacific Coast League,2210,night,Tuesday,Las Vegas Aviators,161.0
666384,2022-09-06,Albuquerque Isotopes,AAA,Pacific Coast League,6716,night,Tuesday,El Paso Chihuahuas,185.0
664850,2022-09-06,Salt Lake Bees,AAA,Pacific Coast League,4289,night,Tuesday,Reno Aces,156.0
...,...,...,...,...,...,...,...,...,...
666070,2022-04-05,Indianapolis Indians,AAA,International League,7724,night,Tuesday,Omaha Storm Chasers,185.0
665849,2022-04-05,Jacksonville Jumbo Shrimp,AAA,International League,5907,night,Tuesday,Worcester Red Sox,179.0
665715,2022-04-05,Lehigh Valley IronPigs,AAA,International League,7085,night,Tuesday,Columbus Clippers,203.0
665487,2022-04-05,Nashville Sounds,AAA,International League,6136,night,Tuesday,Durham Bulls,215.0
665604,2022-04-05,Memphis Redbirds,AAA,International League,2246,night,Tuesday,Gwinnett Stripers,162.0

In [8]:
sa.generate_summary_report(att)

2022-09-07 08:50:36,155 generate_summary_report returning report 30 teams

,teams.home.team.name,abbreviation,league.name,num_games,total_att,avg_att,avg_duration
342,Albuquerque Isotopes,AAA,Pacific Coast League,62,441856,7126,163
400,Las Vegas Aviators,AAA,Pacific Coast League,63,433049,6873,172
4904,El Paso Chihuahuas,AAA,Pacific Coast League,64,433756,6777,173
561,Salt Lake Bees,AAA,Pacific Coast League,64,369507,5773,161
238,Oklahoma City Dodgers,AAA,Pacific Coast League,67,367071,5478,171
102,Round Rock Express,AAA,Pacific Coast League,67,365622,5457,167
529,Tacoma Rainiers,AAA,Pacific Coast League,69,336392,4875,164
105,Sacramento River Cats,AAA,Pacific Coast League,67,324986,4850,170
2310,Reno Aces,AAA,Pacific Coast League,66,316425,4794,164
5434,Sugar Land Space Cowboys,AAA,Pacific Coast League,61,242001,3967,172
556,Nashville Sounds,AAA,International League,67,510396,7617,161
1410,Lehigh Valley IronPigs,AAA,International League,63,470462,7467,171
445,Columbus Clippers,AAA,International League,64,466724,7292,160
484,Indianapolis Indians,AAA,International League,64,459231,7175,160
494,Charlotte Knights,AAA,International League,67,476470,7111,161
533,Worcester Red Sox,AAA,International League,69,490706,7111,162
1960,St. Paul Saints,AAA,International League,68,441046,6485,158
422,Buffalo Bisons,AAA,International League,63,402204,6384,154
234,Durham Bulls,AAA,International League,64,399880,6248,166
451,Iowa Cubs,AAA,International League,66,388641,5888,158
512,Toledo Mud Hens,AAA,International League,64,370685,5791,156
534,Rochester Red Wings,AAA,International League,67,387938,5790,160
416,Louisville Bats,AAA,International League,64,363052,5672,156
568,Norfolk Tides,AAA,International League,66,319488,4840,169
564,Jacksonville Jumbo Shrimp,AAA,International League,65,303791,4673,151
552,Syracuse Mets,AAA,International League,61,279722,4585,161
531,Scranton/Wilkes-Barre RailRiders,AAA,International League,65,292910,4506,158
541,Omaha Storm Chasers,AAA,International League,64,253945,3967,161
235,Memphis Redbirds,AAA,International League,65,219349,3374,161
431,Gwinnett Stripers,AAA,International League,66,192539,2917,151